<div id="search-component">
  <form>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="Spotify Query"
        #searchBox
        id="search-box"
        (input)="search(searchBox.value)"
      />
      <button mat-button matSuffix (click)="search('')">Clear Results</button>
    </mat-form-field>
  </form>
  <mat-list role="list">
    <mat-list-item *ngFor="let album of albums$ | async">
      <img src="{{ album.images[0].url }}" width="36" height="36" />
      {{ album.name }}&nbsp;<small>{{ album.artists[0].name }}</small>
      <button mat-button (click)="add(album)">Add</button>
    </mat-list-item>
  </mat-list>
</div>
